<template id="my-calculator">
  <div class="calculator">
    <calculator-screen class="screen"></calculator-screen>
    <calculator-buttons id="buttons"></calculator-buttons>
  </div>

  <style>
    .calculator {
      --primary-color: #dc7e00;
      --border-color: #efbf3f;
      --border-size: 0.09em;

      color: var(--primary-color);
      width: min-content;
      display: flex;
      flex-direction: column;
      font-size: 3em;
    }

    .screen {
      align-self: end;
    }
  </style>
</template>

<script>
  customElements.define(
    "my-calculator",
    class extends HTMLElement {
      constructor() {
        super();
        this.calculator = new Calculator();
        attachTemplate(this, document.querySelector("#my-calculator"));
        this.screen = this.shadowRoot.querySelector("calculator-screen");
        this.clipboard = "";
        this.redraw();
        this.shadowRoot.querySelector("#buttons").onButton = (button) => {
          if (button === "cpy") {
            this.copy();
          } else if (button === "pst") {
            this.paste();
          } else {
            this.calculator.handleSymbol(button);
            this.redraw();
          }
        };
      }

      copy() {
        if (this.calculator.operator === "")
          this.clipboard = this.calculator.currentNumber;
      }

      paste() {
        if (this.calculator.currentNumberUnset()) {
          this.calculator.currentNumber = this.clipboard;
          this.redraw();
        }
      }

      redraw() {
        this.screen.setAttribute("operand", this.calculator.operand);
        this.screen.setAttribute("operator", this.calculator.operator);
        this.screen.setAttribute(
          "current-number",
          this.calculator.currentNumber
        );
      }
    }
  );
</script>
